@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-['Open_Sans'];
}

.navbar {
  &.option {
    @apply font-medium text-sm  p-2 rounded-md
   transition-all;
  }
}

.navbar-active {
  @apply text-primary-50 bg-primary-600;
}

.navbar-inactive {
  @apply text-gray-500 border-t-transparent border-t-0;
}

.navbar-without-children {
  @apply text-gray-500 border-t-transparent border-t-0 hover:border-t-primary-500 hover:text-primary-700;
}

.techniques-hover-effect {
  @apply group-hover:lg:text-9xl transition-all duration-700;
}

.navbar-link {
  @apply text-sm  flex items-center text-primary-950  hover:bg-secondary-100  p-2
  hover:text-secondary-950 hover:font-medium transition-all border-b last:border-b-transparent
   hover:border-b-transparent hover:rounded-lg justify-between;
}

#visual {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
}
